
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Muli", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #4744E1;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #28DF95;
$teal: #4dc0b5;
$cyan: #29C9D8;

$light-gray: #F8F8F8;
$gray: #D6D6D6;
$dark-gray: #D6D6D6;

$font-black: #4a4a4a;

$light-black: #111111;
$black: #151515;
$dark-black: #101010;
// Fonts
$muli: "Muli", sans-serif;

//Z Index
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
