
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Muli", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-gray: #F8F8F8;
$gray: #D6D6D6;
$dark-gray: #D6D6D6;

$black: #4a4a4a;

// Fonts


//Z Index
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
