.nav-container{
  min-height: 165px;
  width: 100%;

  background: linear-gradient( to right, rgba( #313131, 0.3 ), rgba( #313131, 0.0 ) ), url( '/images/app/header-bg2.jpg' ) 10% 30% no-repeat;
  background-size: cover;
  color: #fff;


  .app-title, nav{
    margin-left: 300px;
    position: relative;
  }

  .app-title{
    margin-top: 40px;
    padding: 0 20px;

    & > .title{
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 12px rgba(0,0,0,0.5);
      text-transform: uppercase;
      font-weight: 300;
    }
  }


  nav{
    padding: 0.65em 20px;
    width: auto;
  }

}
