.sidebar-navigation{
  width: 100%;
  position: relative;
  background: #2A2A2A;

  &>li{

    &:hover{
      background-color: #1D1D1D;
    }
    &>a{
      display: block;
      padding: 1em 1.25em;
      color: #fff;
      text-transform: uppercase;

      &.active{
        background-color: #202020;
      }

    }
  }

}
