.app-container{

  width: 100vw;

  display: block;
  position: relative;
  margin-left: 300px;

  .content-container{
    width: auto;
    overflow-y: auto;
  }

}

.sidebar-collection{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .mini-sidebar-container{
    height: 100vh;
    min-width: 50px;
    //background: linear-gradient(-40deg, #2962ff, #0091ea, #03a9f4, #18ffff );
    background-color: #2962ff;
  }

  .sidebar-container{
    height: 100vh;
    min-width: 250px;
    color: #fff;
  }
}
