.app-container{

  width: 100vw;
  height: 100vh;

  display: block;
  position: relative;

  margin-top: 70px;

  .sidebar-container{
    height: inherit;
    min-width: 240px;

    position: fixed;
    left: 0;


    background-color: #fff;
    box-shadow: 4px 6px 20px rgba(0,0,0,0.35);
  }

  .content-container{
    height: inherit;
    width: 100%;
    padding: 1em;
    margin-left: 240px;

    background-color: $light-gray;
  }

}

.nav-container{
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex-sticky;

  background: #fff;
  box-shadow: 245px 0 20px rgba( 0, 0, 0, 0.35 );

}


